<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <h1 class="center">Top Restaurant</h1> 
    
    <main class="card">
        <h2 class="left">{{restaurant.name}}</h2>
        <h2 class="right">{{restaurant.rating}}/5 ({{restaurant.review_count}})</h2>
        <!-- Syntax found from https://css-tricks.com/left-align-and-right-align-text-on-the-same-line/ -->
        <div style="clear: both;"></div>
        <img src={{restaurant.image_url}} />
        <p>{{restaurant.display_address}} ({{restaurant.coordinates.latitude}}, {{restaurant.coordinates.longitude}})</p>
    </main>
</body>
</html>
